themes/nico/notebook/metrics/sidebar-position.tid
plugins/oeyoews/commandpalette/
StoryList**
Draft*

\$__StoryList.tid
Import.tid
palette*.tid
layout.tid
untitled**
keepstate/
config/RecentTab/Mode.tid